[Unit]
Description=MySQL Server Service
After=etcd.service
After=docker.service
Requires=mysql-datavolume@%i.service
Requires=mysql-discovery@%i.service
Requires=mysql-datavolume-discovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill mysql%i
ExecStartPre=-/usr/bin/docker rm mysql%i
ExecStartPre=/usr/bin/docker pull imjacobclark/base-mysql
ExecStart=/usr/bin/docker run --name mysql%i -p ${COREOS_PUBLIC_IPV4}:%i:3306 imjacobclark/base-mysql /bin/bash -c '/usr/bin/mysqld_safe ; tail -f /var/log/mysql/error.log' -D FOREGROUND
ExecStop=/usr/bin/docker stop mysql%i

[X-Fleet]
X-Conflicts=mysql@*.service
